<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compte">
            <h2><span jhiTranslate="primempdApp.compte.detail.title">Compte</span> {{compte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="primempdApp.compte.numeroCompte">Numero Compte</span></dt>
                <dd>
                    <span>{{compte.numeroCompte}}</span>
                </dd>
                <dt><span jhiTranslate="primempdApp.compte.banque">Banque</span></dt>
                <dd>
                    <div *ngIf="compte.banque">
                        <a [routerLink]="['/banque', compte.banque?.id, 'view']">{{compte.banque?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="primempdApp.compte.agent">Agent</span></dt>
                <dd>
                    <div *ngIf="compte.agent">
                        <a [routerLink]="['/agent', compte.agent?.id, 'view']">{{compte.agent?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/compte', compte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
