<div>
    <h2 id="page-heading">
        <span jhiTranslate="primempdApp.avancement.home.title">Avancements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avancement" [routerLink]="['/avancement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="primempdApp.avancement.home.createLabel">
            Create new Avancement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="avancements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="primempdApp.avancement.dateDebut">Date Debut</span></th>
            <th><span jhiTranslate="primempdApp.avancement.dateFin">Date Fin</span></th>
            <th><span jhiTranslate="primempdApp.avancement.grade">Grade</span></th>
            <th><span jhiTranslate="primempdApp.avancement.agent">Agent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avancement of avancements ;trackBy: trackId">
                <td><a [routerLink]="['/avancement', avancement.id, 'view' ]">{{avancement.id}}</a></td>
                <td>{{avancement.dateDebut | date:'medium'}}</td>
                <td>{{avancement.dateFin | date:'medium'}}</td>
                <td>
                    <div *ngIf="avancement.grade">
                        <a [routerLink]="['../grade', avancement.grade?.id, 'view' ]" >{{avancement.grade?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="avancement.agent">
                        <a [routerLink]="['../agent', avancement.agent?.id, 'view' ]" >{{avancement.agent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/avancement', avancement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/avancement', avancement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'avancement/'+ avancement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
