<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-avancement-heading" jhiTranslate="primempdApp.avancement.home.createOrEditLabel">Create or edit a Avancement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!avancement.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="avancement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primempdApp.avancement.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="d-flex">
                        <input id="field_dateDebut" type="datetime-local" class="form-control" name="dateDebut" [(ngModel)]="dateDebut"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primempdApp.avancement.dateFin" for="field_dateFin">Date Fin</label>
                    <div class="d-flex">
                        <input id="field_dateFin" type="datetime-local" class="form-control" name="dateFin" [(ngModel)]="dateFin"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primempdApp.avancement.grade" for="field_grade">Grade</label>
                    <select class="form-control" id="field_grade" name="grade" [(ngModel)]="avancement.grade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gradeOption.id === avancement.grade?.id ? avancement.grade : gradeOption" *ngFor="let gradeOption of grades; trackBy: trackGradeById">{{gradeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primempdApp.avancement.agent" for="field_agent">Agent</label>
                    <select class="form-control" id="field_agent" name="agent" [(ngModel)]="avancement.agent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agentOption.id === avancement.agent?.id ? avancement.agent : agentOption" *ngFor="let agentOption of agents; trackBy: trackAgentById">{{agentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
