<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="corps">
            <h2><span jhiTranslate="primempdApp.corps.detail.title">Corps</span> {{corps.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="primempdApp.corps.libelleCorps">Libelle Corps</span></dt>
                <dd>
                    <span>{{corps.libelleCorps}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/corps', corps.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
