<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-trimestre-heading" jhiTranslate="primempdApp.trimestre.home.createOrEditLabel">Create or edit a Trimestre</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!trimestre.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="trimestre.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primempdApp.trimestre.codeTrimestre" for="field_codeTrimestre">Code Trimestre</label>
                    <input type="number" class="form-control" name="codeTrimestre" id="field_codeTrimestre"
                        [(ngModel)]="trimestre.codeTrimestre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primempdApp.trimestre.trimestre" for="field_trimestre">Trimestre</label>
                    <input type="text" class="form-control" name="trimestre" id="field_trimestre"
                        [(ngModel)]="trimestre.trimestre" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
